@using otel_management.Entities;
@model List<RoomViewModel>
@{
	ViewData["Title"] = "Odalar İçin Bilgi Değişikliği";
}


	<div class="row">
<div class="col">
	<h1 class="display-4">@ViewData["Title"]</h1>
</div>
</div><br />


<div class="row">
	<div class="col">
		<a asp-action="CreateRoom" class="btn btn-primary btn-sm"><i class="fa fa-plus me-2"></i>Oda Ekle</a>
	</div>
</div>


<div class="row">
<div class="col">
	<table class="table table-hover-blue table-sm text-white">	
		<thead>
			<tr class="text-center">
				<th>Oda Numarası</th>
				<th>Oda Kişi Sayısı</th>
				<th>Oda Fotoğrafı</th>
				<th>Oda Detayları</th>
				<th>Oda Fiyatı</th>
				<th>Rezerv Durumu</th>
				<th>Kilit Durumu</th>
				<th>Operasyonlar</th>
			</tr>
		</thead>
		<tbody>
				@foreach (RoomViewModel room in Model)
				{
								<tr class="text-center">
								<td>@room.RoomNumber</td>
								<td>@room.BedCount</td>
								<td><img src="~/images/@room.RoomPhoto" width="50" height="50"> </td>
								<td>@room.RoomDetail</td>
								<td>@room.RoomPrice</td>
										<td>@if (@room.IsAvailable == true)
											{
												<i class="fa-solid fa-xmark fa-beat" style="color: #ff0000;"></i>
											}
											@if (@room.IsAvailable == false)
											{
													<i class="fa-solid fa-check fa-beat" style="color: #00ff1e;"></i>
											}
									</td>
										<td>@if (@room.Lock == true)
											{
												<i class="fa-solid fa-lock" style="color: #ff0000;"></i>
											}
											@if (@room.Lock == false)
											{
													<i class="fa-solid fa-check" style="color: #00ff1e;"></i>
											}</td>
								<td class="text-and">
									<a asp-action="RezervRoom" asp-route-id="@room.Id" class="btn btn-info btn-sm text-white"onclick="return confirm('@room.RoomNumber numaralı odanın rezerv değişikliğini yapmak istediğinize emin misiniz?')">Rezerv Değiştir</a>
									<a asp-action="EditRoom" asp-route-id="@room.Id" class="btn btn-info btn-sm text-white"><i class="fa fa-edit me-2"></i>Düzenle</a>
									<a asp-action="DeleteRoom" asp-route-id="@room.Id"class="btn btn-info btn-sm text-white" onclick="return confirm('@room.RoomNumber numaralı odayı silmek istediğinizden emin misiniz?')"><i class="fa fa-edit me-2"></i>Sil</a>
								</td>
							</tr>
				}
		</tbody>
	</table>
</div>
</div>