@model List<RoomViewModel>

<div class="container mt-5 text-center">
    <h1 class="text-center">Otel Randevusu</h1>
	<h2 >Aşağıda kartlarda rezervasyon yapılabilir odalarımız listelenmektedir.</h2> <h2> Rezervasyon yapmak istediğiniz odayı seçiniz. Sağ sol butonlarıyla hizmetlerimizi görüntüleyebilirsiniz. </h2><br />
    <div class="row justify-content-center">
      <div class="col-md-6"></div>
    </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 justify-content-center text-center">
            <input type="number" id="odaNumarasi" class="form-control " placeholder="Oda Numarası Giriniz">
            <button id="filtreleButton" class="btn btn-primary mt-2">Filtrele</button>
            <button id="hepsiniGosterButton" class="btn btn-primary mt-2">Hepsini Göster</button>
        </div>
    </div>
    <div id="odaBulunamadiPopup" class="alert alert-danger mt-2" style="display: none;">
    Girilen oda numarası ile eşleşen bir oda bulunamadı !!...
</div>
	<br /><br />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#filtreleButton").click(function () {
            var odaNumarasi = $("#odaNumarasi").val();

            $(".col-4").hide(); // Tüm kartları gizle

            var bulunanOda = false;

            // Oda numarasına göre kartları filtrele
            $(".col-4").each(function () {
                var roomNumber = $(this).find(".card-title").text().split('->')[1].trim();
                if (roomNumber === odaNumarasi) {
                    $(this).show(); // Eşleşen kartları göster
                    bulunanOda = true;
                }
            });

            if (!bulunanOda) {
                $("#odaBulunamadiPopup").show(); // Oda bulunamadı uyarısını göster
            } else {
                $("#odaBulunamadiPopup").hide(); // Oda bulunamadı uyarısını gizle
            }
        });

        $("#hepsiniGosterButton").click(function () {
            $(".col-4").show(); // Tüm kartları göster
            $("#odaBulunamadiPopup").hide(); // Oda bulunamadı uyarısını gizle
        });
    });
</script>


 <div class="row">
           
            @{
                @foreach (RoomViewModel room in Model)
                    {
                        @if (room.IsAvailable == false && room.Lock==false)
                        {
                        <div class="col-4 mb-4">
                                                <div class="card text-dark text-center" >
                                                            <img src="~/images/@room.RoomPhoto" class="card-img-top img-fluid" alt="@room.RoomPhoto">
                                                    <div class="card-body">
                                                      <h5 class="card-title">Oda Numarası -> @room.RoomNumber</h5>
                                                      <p class="card-text">@room.RoomDetail</p>
                                                      <p class="card-text">Kapasite -> @room.BedCount </p>
                                                      <p class="card-text">Oda Ücreti -> @room.RoomPrice </p>
                                                      <a asp-action="Rezerv" asp-route-id="@room.Id" type="submit" class="btn btn-info btn-sm text-white mb-4" onclick="return confirm(' @room.RoomNumber numaralı odayı rezervasyon yapmak istediğinize emin misiniz?')"><i class="fa-regular fa-okey  fa-xs"></i> Rezervasyon Yap</a>
                                                    </div>
                                                </div>
                        </div>
                    }
                    }
                }
    </div>
  </div>
  </div>

<style>
    .card-img-top {
    max-width: 100%; /* Resmi kartın genişliği kadar boyutlandır */
    height: auto; /* Oranları koru */
}
.card-img-top {
    width: 500px; /* Belirli bir genişlik değeri ayarla */
    height: 400px; /* Belirli bir yükseklik değeri ayarla */
    object-fit: cover; /* Resmi boyutlara sığdır ve taşan kısmı kes */
}
form{
    display: flex;
    padding-right: 1000px;
}
</style>
@*
                            <div class="form-group">
                              <label for="check-in-date">Giriş Tarihi:</label>
                              <input type="date" class="form-control" id="check-in-date" required>
                              </div>
                              <div class="form-group">
                              <label for="check-out-date">Çıkış Tarihi:</label>
                              <input type="date" class="form-control" id="check-out-date" required>
                              </div>*@




                             @*  <div id="carouselExample" class="carousel slide">*@
    @*  <div class="carousel-inner">
                @{
                    bool isFirst = true;
                    @foreach (RoomViewModel room in Model)
                    {
                        @if (room.IsAvailable == false && room.Lock == false && isFirst == true)
                        {


                                        <div class="carousel-item active">

                                        <div class="col-20 mb-4 ">

                                                     <img src="~/images/@room.RoomPhoto" class="card-img-top img-fluid" alt="@room.RoomPhoto">                   
                                                     <h5 class="card-title">Oda Numarası -> @room.RoomNumber</h5>
                                                     <p class="card-text">@room.RoomDetail</p>
                                                     <p class="card-text">Kapasite -> @room.BedCount </p>
                                                     <p class="card-text">Oda Ücreti -> @room.RoomPrice </p>
                                                     <a asp-action="Rezerv" asp-route-id="@room.Id" type="submit" class="btn btn-info btn-sm text-white mb-4" onclick="return confirm(' @room.RoomNumber numaralı odayı rezervasyon yapmak istediğinize emin misiniz?')"><i class="fa-regular fa-cross fa-bounce fa-xs"></i> Rezervasyon Yap</a>

                                                </div>
                                </div>
                        }
                        @if (room.IsAvailable == false && room.Lock == false && isFirst==false)
                        {


                            <div class="carousel-item">

                            <div class="col-20 mb-4 ">

                                         <img src="~/images/@room.RoomPhoto" class="card-img-top img-fluid" alt="@room.RoomPhoto">                   
                                         <h5 class="card-title">Oda Numarası -> @room.RoomNumber</h5>
                                         <p class="card-text">@room.RoomDetail</p>
                                         <p class="card-text">Kapasite -> @room.BedCount </p>
                                         <p class="card-text">Oda Ücreti -> @room.RoomPrice </p>
                                         <a asp-action="Rezerv" asp-route-id="@room.Id" type="submit" class="btn btn-info btn-sm text-white mb-4" onclick="return confirm(' @room.RoomNumber numaralı odayı rezervasyon yapmak istediğinize emin misiniz?')"><i class="fa-regular fa-cross fa-bounce fa-xs"></i> Rezervasyon Yap</a>

                                    </div>
                            </div>
                            }
                        isFirst = false;

                     }
                }

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>
*@