@model List<RoomViewModel>

<div class="container mt-5 text-center">
    <h1 class="text-center">Otel Randevusu</h1>
	<h2 >Aşağıda kartlarda rezervasyon yapılabilir odalarımız listelenmektedir.</h2> <h2> Rezervasyon yapmak istediğiniz odayı seçiniz.  </h2>
    <div class="row justify-content-center">
      <div class="col-md-6">
      </div>
    </div>
        <div class="row">
            <form method="post" asp-action="Rezerv">
                @foreach (RoomViewModel room in Model)
                {
                    @if (room.IsAvailable == false)
                    {
                            <div class="col-md-4 mb-4">
                            <div class="card text-dark text-center" >
                                    <img src="~/images/@room.RoomPhoto" class="card-img-top img-fluid" alt="@room.RoomPhoto">
                            <div class="card-body">
                              <h5 class="card-title">Oda Numarası -> @room.RoomNumber</h5>
                              <p class="card-text">@room.RoomDetail</p>
                              <p class="card-text">Kapasite -> @room.BedCount </p>
                              <p class="card-text">Oda Ücreti -> @room.RoomPrice </p>
                              <a asp-action="Rezerv" asp-route-id="@room.Id" type="submit" class="btn btn-info btn-sm text-white mb-4" onclick="return confirm(' @room.RoomNumber numaralı odayı rezervasyon yapmak istediğinize emin misiniz?')"><i class="fa-regular fa-cross fa-bounce fa-xs"></i> Rezervasyon Yap</a>

                            </div>
                            </div>
                            </div>
                    }
                }
            </form>
        </div>
    </div>
  </div>


<style>
    .card-img-top {
    max-width: 100%; /* Resmi kartın genişliği kadar boyutlandır */
    height: auto; /* Oranları koru */
}
.card-img-top {
    width: 500px; /* Belirli bir genişlik değeri ayarla */
    height: 400px; /* Belirli bir yükseklik değeri ayarla */
    object-fit: cover; /* Resmi boyutlara sığdır ve taşan kısmı kes */
}
</style>
@*
                            <div class="form-group">
                              <label for="check-in-date">Giriş Tarihi:</label>
                              <input type="date" class="form-control" id="check-in-date" required>
                              </div>
                              <div class="form-group">
                              <label for="check-out-date">Çıkış Tarihi:</label>
                              <input type="date" class="form-control" id="check-out-date" required>
                              </div>*@