@using otel_management.Entities;
@model List<ServiceViewModel>
@{
	ViewData["Title"] = "Hizmetler İçin Bilgi Değişikliği";
}


	<div class="row">
<div class="col">
	<h1 class="display-4">@ViewData["Title"]</h1>
</div>
</div><br />


<div class="row">
	<div class="col">
		<a asp-action="CreateService" class="btn btn-primary btn-sm"><i class="fa fa-plus me-2"></i>Hizmet Ekle</a>
	</div>
</div>


<div class="row">
<div class="col">
	<table class="table table-hover-blue table-sm text-white">	
		<thead>
			<tr class="text-center">
				<th>Hizmet ID</th>
				<th>Hizmet Adı</th>
				<th>Hizmet Fotoğrafı</th>
				<th>Hizmet Detayları</th>
				<th>Hizmet Fiyatı</th>
				<th>Rezerv Durumu</th>
				<th>Kilit Durumu</th>
				<th>Operasyonlar</th>
			</tr>
		</thead>
		<tbody>
				@foreach (ServiceViewModel service in Model)
				{
						<tr class="text-center">
							<td>@service.Id</td>
							<td>@service.ServiceName</td>
							<td><img src="~/serviceimg/@service.ServicePhoto" width="50" height="50"></td>
							<td>@service.ServiceDetail</td>
							<td>@service.ServicePrice</td>
								<td class="text-center">@if (@service.IsAvaliable == true)
									{
										<i class="fa-solid fa-xmark fa-beat" style="color: #ff0000;"></i>
									}
									@if (@service.IsAvaliable == false)
									{
										<i class="fa-solid fa-check fa-beat" style="color: #00ff1e;"></i>
									}</td>
							<td>
								@if (@service.Lock == true)
								{
													<i class="fa-solid fa-lock " style="color: #ff0000;"></i>
								}
								@if (@service.Lock == false)
								{
													<i class="fa-solid fa-check " style="color: #00ff1e;"></i>
								}
							</td>
							<td class="text-and">
									<a asp-action="RezervService" asp-route-id="@service.Id" class="btn btn-info btn-sm text-white" onclick="return confirm('@service.ServiceName adlı hizmetin rezerv değişikliğini yapmak istediğinize emin misiniz?')"><i class="fa-regular fa-cross fa-bounce fa-xs"></i> Rezerv Değiştir</a>
								<a asp-action="EditService" asp-route-id="@service.Id" class="btn btn-info btn-sm text-white"><i class="fa fa-edit me-2"></i>Düzenle</a>
								<a asp-action="DeleteService" asp-route-id="@service.Id"class="btn btn-info btn-sm text-white" onclick="return confirm('@service.ServiceName adlı hizmeti silmek istediğinizden emin misiniz?')"><i class="fa fa-edit me-2"></i>Sil</a>
							</td>
						</tr>
				}
		</tbody>
	</table>
</div>
</div>