@using otel_management.Entities;
@model List<ServiceViewModel>
@{
	ViewData["Title"] = "Hizmetler İçin Bilgi Değişikliği";
}


	<div class="row">
<div class="col">
	<h1 class="display-4">@ViewData["Title"]</h1>
</div>
</div><br />


<div class="row">
	<div class="col">
		<a asp-action="CreateService" class="btn btn-primary btn-sm"><i class="fa fa-plus me-2"></i>Hizmet Ekle</a>
	</div>
</div>


<div class="row">
<div class="col">
	<table class="table table-hover-blue table-sm text-white">	
		<thead>
			<tr>
				<th>Hizmet ID</th>
				<th>Hizmet Adı</th>
				<th>Hizmet Fotoğrafı</th>
				<th>Hizmet Detayları</th>
				<th>Hizmet Fiyatı</th>
				<th>Rezerv Durumu</th>
			</tr>
		</thead>
		<tbody>
				@foreach (ServiceViewModel service in Model)
				{
								<tr>
									<td>@service.Id</td>
									<td>@service.ServiceName</td>
									<td>@service.ServicePhoto</td>
									<td>@service.ServiceDetail</td>
									<td>@service.ServicePrice</td>
									<td>@service.IsAvaliable</td>
									<td class="text-and">
										<a asp-action="RezervService" asp-route-id="@service.Id" class="btn btn-info btn-sm text-white"><i class="fa-regular fa-cross fa-bounce fa-xs"></i> Rezerv Değiştir</a>
										<a asp-action="Edit" asp-route-id="@service.Id" class="btn btn-info btn-sm text-white"><i class="fa fa-edit me-2"></i>Düzenle</a>
										<a asp-action="DeleteService" asp-route-id="@service.Id"class="btn btn-info btn-sm text-white" onclick="return confirm('@service.ServiceName adlı hizmeti silmek istediğinizden emin misiniz?')"><i class="fa fa-edit me-2"></i>Sil</a>
									</td>
								</tr>
				}
		</tbody>
	</table>
</div>
</div>